* @SustainableDevelopmentReform/maintainers

/apps/server/ @SustainableDevelopmentReform/maintainers
/apps/web/ @SustainableDevelopmentReform/maintainers
/docker/ @SustainableDevelopmentReform/maintainers
/.github/ @SustainableDevelopmentReform/maintainers
