APP_URL=https://csdr.localhost

INTERNAL_FRONTEND_URL=http://localhost:3000
INTERNAL_BACKEND_URL=http://localhost:4000

TRUSTED_ORIGINS=https://csdr.localhost,http://localhost:3000,http://localhost:4000

# In development environments, when the frontend and backend are hosted at localhost (on different ports), this can be set to true to reduce need for a reverse-proxy
# DEV_USE_INTERNAL_BACKEND_URL_IN_FRONTEND="true"

DATABASE_HOST=localhost
DATABASE_PORT=5431
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=csdr-dev

# You can use openssl to generate a random 32 character key: openssl rand -base64 32
BETTER_AUTH_SECRET=0XEjaeOVzWF2OLmVYYDM4S70bODI4/x96d2KhwBKtRY=

# Initial user email and name will be used for seeding purposes to create,
# the first account as Super Admin to manage everything in the admin dashboard.
# You can access admin dashboard on "/console" path
INITIAL_USER_EMAIL=admin@example.com
INITIAL_USER_NAME=csdr-admin
INITIAL_USER_PASSWORD=admin@123

# AUTH_REQUIRE_EMAIL_VERIFICATION=true

# S3 related enviroment
S3_BUCKET_NAME=
S3_SPACES_ENDPOINT=
S3_SPACES_SECRET_KEY=
S3_SPACES_ACCESS_KEY_ID=

# SMTP
SMTP_PASSWORD=
SMTP_USERNAME=
SMTP_HOST=
SMTP_PORT=

# Email sender is for sending transaction email, currently is used
# for sending OTP to user that want to login
EMAIL_SENDER='"Acme Team" <noreply@acme.com>'

# Email catcher will be used in dev mod, for login and other email
# Or alternatively, you can use this or using service like mailhog and then
# remove all EMAIL_CATCHER related in the codebase
EMAIL_CATCHER=admin@example.com

